canvas{
        background:#70B3DB;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    
        margin: auto;
}
/*html {
        
        overflow:hidden;
}

div.preview {
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
*/
